# World Happiness Index Data Analysis

## Author : Bhupender Singh

## MKR Task - 4 (Data Cleaning Part)

### ðŸ“Œ Problem Statement : -
### To Clean, Analyze and Visualize(Using Plotly Dash) The World Happiness Index Dataset From The Year(2015-2020)

### Let's Start With Importing The Necessary Modules For This Data Cleaning Task

In [1]:
import pandas as pd
import numpy as np

### Importing All The 6 Datasets

In [2]:
df_2015 = pd.read_csv('2015.csv')
df_2016 = pd.read_csv('2016.csv')
df_2017 = pd.read_csv('2017.csv')
df_2018 = pd.read_csv('2018.csv')
df_2019 = pd.read_csv('2019.csv')
df_2020 = pd.read_csv('2020.csv')

## World Happiness Index Dataset of Year 2015

In [3]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
df_2015.shape

(158, 12)

#### Inserting a new column for 'Year'

In [5]:
df_2015.insert(1, 'Year', 2015)

#### Dropping all the unnecessary columns of 2015 dataset

In [6]:
df_2015.drop(['Standard Error','Dystopia Residual'],axis=1,inplace=True)

#### Renaming the columns

In [7]:
df_2015 = df_2015.rename(columns = {'Happiness Rank': 'Rank','Happiness Score': 'Score',
                                    'Economy (GDP per Capita)' : 'GDP Per Capita',
                                    'Family' : 'Social Support','Health (Life Expectancy)' : 'Health Life Expectancy',
                                    'Freedom' :'Freedom To Make Life Choices',
                                   'Trust (Government Corruption)' : 'Corruption Perceptions'})

#### Summary of 2015 Dataset

In [8]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       158 non-null    object
 1   Year                          158 non-null    int64
 2   Region                        158 non-null    object
 3   Rank                          158 non-null    int64
 4   Score                         158 non-null    float64
 5   GDP Per Capita                158 non-null    float64
 6   Social Support                158 non-null    float64
 7   Health Life Expectancy        158 non-null    float64
 8   Freedom To Make Life Choices  158 non-null    float64
 9   Corruption Perceptions        158 non-null    float64
 10  Generosity                    158 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.7+ KB

***No null or missing values in 2015 dataset***

## World Happiness Index Dataset of Year 2016

In [9]:
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [10]:
df_2016.shape

(157, 13)

#### Inserting a new column for 'Year'

In [11]:
df_2016.insert(1, 'Year', 2016)

#### Dropping all the unnecessary columns of 2016 dataset

In [12]:
df_2016.drop(['Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual'],axis=1,inplace=True)

#### Renaming the columns

In [13]:
df_2016 = df_2016.rename(columns = {'Happiness Rank': 'Rank','Happiness Score': 'Score',
                                    'Economy (GDP per Capita)' : 'GDP Per Capita',
                                    'Family' : 'Social Support','Health (Life Expectancy)' : 'Health Life Expectancy',
                                    'Freedom' :'Freedom To Make Life Choices',
                                   'Trust (Government Corruption)' : 'Corruption Perceptions'})

#### Summary of 2016 dataset

In [14]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       157 non-null    object
 1   Year                          157 non-null    int64
 2   Region                        157 non-null    object
 3   Rank                          157 non-null    int64
 4   Score                         157 non-null    float64
 5   GDP Per Capita                157 non-null    float64
 6   Social Support                157 non-null    float64
 7   Health Life Expectancy        157 non-null    float64
 8   Freedom To Make Life Choices  157 non-null    float64
 9   Corruption Perceptions        157 non-null    float64
 10  Generosity                    157 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.6+ KB

***No null or missing values in 2016 dataset***

## World Happiness Index Dataset of Year 2017

In [15]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [16]:
df_2017.shape

(155, 12)

#### Inserting a new column for 'Year'

In [17]:
df_2017.insert(1, 'Year', 2017)

#### Dropping all the unnecessary columns of 2017 dataset

In [18]:
df_2017.drop(['Whisker.high','Whisker.low','Dystopia.Residual'],axis=1,inplace=True)

#### Renaming the columns

In [19]:
df_2017 = df_2017.rename(columns = {'Happiness.Rank': 'Rank','Happiness.Score': 'Score',
                                    'Economy..GDP.per.Capita.' : 'GDP Per Capita',
                                    'Family' : 'Social Support','Health..Life.Expectancy.' : 'Health Life Expectancy',
                                    'Freedom' :'Freedom To Make Life Choices',
                                   'Trust..Government.Corruption.' : 'Corruption Perceptions'})

In [20]:
df_2017.head()

,Country,Year,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions
0,Norway,2017,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2017,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,2017,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,2017,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,2017,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

***As We Can See That Region Column Is Missing In 2017 Dataset, We Can Insert A Region Column Using The 2015 or 2016 Dataset As There Are Almost Every Country Of 2017 Is Present In The 2015 or 2016 Dataset. So to do this :-***

#### First let's create a new country - region dictionary using the 2016 dataset

In [21]:
contry_region_dict = dict(zip(df_2016.Country, df_2016.Region))

#### Now inserting the region-column with the country names, so that we can map the values of the region using the country name

In [22]:
df_2017.insert(1, 'Region', df_2017['Country'])
df_2017.head()

,Country,Region,Year,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions
0,Norway,Norway,2017,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,Denmark,2017,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,Iceland,2017,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,Switzerland,2017,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,Finland,2017,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

#### Now mapping all the region names corresponding to the country names using the country-region dictionary

In [23]:
df_2017['Region'] = df_2017['Region'].map(contry_region_dict)

In [24]:
df_2017.head()

,Country,Region,Year,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions
0,Norway,Western Europe,2017,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,Western Europe,2017,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,Western Europe,2017,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,Western Europe,2017,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,Western Europe,2017,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

#### Now Re-indexing the columns position as per the 2015 & 2016 dataset

In [25]:
df_2017 = df_2017.reindex(columns=['Country','Year','Region','Rank','Score','GDP Per Capita','Social Support',
                                   'Health Life Expectancy','Freedom To Make Life Choices','Corruption Perceptions',
                                   'Generosity'])

#### Now checking the final 2017 dataset

In [26]:
df_2017.head()

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
0,Norway,2017,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,2017,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,2017,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,2017,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,2017,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

#### Summary of 2017 dataset

In [27]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       155 non-null    object
 1   Year                          155 non-null    int64
 2   Region                        150 non-null    object
 3   Rank                          155 non-null    int64
 4   Score                         155 non-null    float64
 5   GDP Per Capita                155 non-null    float64
 6   Social Support                155 non-null    float64
 7   Health Life Expectancy        155 non-null    float64
 8   Freedom To Make Life Choices  155 non-null    float64
 9   Corruption Perceptions        155 non-null    float64
 10  Generosity                    155 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.4+ KB

***We can see that now there are 5 null values in the region column of 2017 dataset, that means these 5 countries are not in 2016 year dataset that we used to create the dictionary
<br>
<br>
We will deal with these null values after creating the final merged dataset(year 2015-2020) where we look out these null or missing values in the final dataset from there we can easily look out these null or missing values in all of the datasets and then fill the corresponding region***

## World Happiness Index Dataset of Year 2018

In [28]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [29]:
df_2018.shape

(156, 9)

#### Inserting a new column for 'Year'

In [30]:
df_2018.insert(1, 'Year', 2018)

#### Renaming the columns

In [31]:
df_2018 = df_2018.rename(columns = {'Overall rank': 'Rank','Country or region': 'Country',
                                    'GDP per capita' : 'GDP Per Capita','Social support' : 'Social Support',
                                    'Healthy life expectancy' : 'Health Life Expectancy',
                                    'Freedom to make life choices' :'Freedom To Make Life Choices',
                                   'Perceptions of corruption' : 'Corruption Perceptions'})

#### We follow the same steps for the region column that we follow in the 2017 dataset

In [32]:
df_2018['Region'] = df_2018['Country']
df_2018.head()

,Rank,Year,Country,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions,Region
0,1,2018,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Finland
1,2,2018,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Norway
2,3,2018,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Denmark
3,4,2018,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Iceland
4,5,2018,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Switzerland

#### Here we are using the same dictionary that we used in the 2017 dataset

In [33]:
df_2018['Region'] = df_2018['Region'].map(contry_region_dict)

In [34]:
df_2018.head()

,Rank,Year,Country,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions,Region
0,1,2018,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Western Europe
1,2,2018,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Western Europe
2,3,2018,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Western Europe
3,4,2018,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Western Europe
4,5,2018,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Western Europe

#### Now Re-indexing the columns position as per the previous datasets

In [35]:
df_2018 = df_2018.reindex(columns=['Country','Year','Region','Rank','Score','GDP Per Capita','Social Support',
                                   'Health Life Expectancy','Freedom To Make Life Choices','Corruption Perceptions',
                                   'Generosity'])

#### Now checking the final 2018 dataset

In [36]:
df_2018.head()

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
0,Finland,2018,Western Europe,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,Norway,2018,Western Europe,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,Denmark,2018,Western Europe,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,Iceland,2018,Western Europe,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,Switzerland,2018,Western Europe,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256

#### Summary of 2018 dataset

In [37]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Year                          156 non-null    int64
 2   Region                        151 non-null    object
 3   Rank                          156 non-null    int64
 4   Score                         156 non-null    float64
 5   GDP Per Capita                156 non-null    float64
 6   Social Support                156 non-null    float64
 7   Health Life Expectancy        156 non-null    float64
 8   Freedom To Make Life Choices  156 non-null    float64
 9   Corruption Perceptions        155 non-null    float64
 10  Generosity                    156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

***We can see that now there are 5 null values in the region column and 1 null value in the Corruption Perceptions of 2018 dataset, For the region column that means these 5 countries are not in 2016 year dataset that we used to create the dictionary
<br>
<br>
We will deal with these null values after creating the final merged dataset(year 2015-2020) where we look out these null or missing values in the final dataset from there we can easily look out these null or missing values in all of the datasets and then fill the corresponding region***

In [38]:
df_2018[df_2018.isnull().any(axis=1)]

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
19,United Arab Emirates,2018,Middle East and Northern Africa,20,6.774,2.096,0.776,0.670,0.284,NaN,0.186
37,Trinidad & Tobago,2018,NaN,38,6.192,1.223,1.492,0.564,0.575,0.019,0.171
57,Northern Cyprus,2018,NaN,58,5.835,1.229,1.211,0.909,0.495,0.154,0.179
122,Mozambique,2018,NaN,123,4.417,0.198,0.902,0.173,0.531,0.158,0.206
140,Lesotho,2018,NaN,141,3.808,0.472,1.215,0.079,0.423,0.112,0.116
154,Central African Republic,2018,NaN,155,3.083,0.024,0.000,0.010,0.305,0.038,0.218

## <u> World Happiness Index Dataset of Year 2019 : - </u>

In [39]:
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [40]:
df_2019.shape

(156, 9)

#### Inserting a new column for year

In [41]:
df_2019.insert(1, 'Year', 2019)

#### Renaming the columns

In [42]:
df_2019 = df_2019.rename(columns = {'Overall rank': 'Rank','Country or region': 'Country',
                                    'GDP per capita' : 'GDP Per Capita','Social support' : 'Social Support',
                                    'Healthy life expectancy' : 'Health Life Expectancy',
                                    'Freedom to make life choices' :'Freedom To Make Life Choices',
                                   'Perceptions of corruption' : 'Corruption Perceptions'})

#### We follow the same steps for the region column that we follow in the 2017 & 2018 dataset

In [43]:
df_2019['Region'] = df_2019['Country']
df_2019.head()

,Rank,Year,Country,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions,Region
0,1,2019,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Finland
1,2,2019,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Denmark
2,3,2019,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Norway
3,4,2019,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Iceland
4,5,2019,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Netherlands

#### Here we are using the same dictionary that we used in the 2017 & 2018 dataset

In [44]:
df_2019['Region'] = df_2019['Region'].map(contry_region_dict)

In [45]:
df_2019.head()

,Rank,Year,Country,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions,Region
0,1,2019,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Western Europe
1,2,2019,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Western Europe
2,3,2019,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Western Europe
3,4,2019,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Western Europe
4,5,2019,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Western Europe

#### Now Re-indexing the columns position as per the previous datasets

In [46]:
df_2019 = df_2019.reindex(columns=['Country','Year','Region','Rank','Score','GDP Per Capita','Social Support',
                                   'Health Life Expectancy','Freedom To Make Life Choices','Corruption Perceptions',
                                   'Generosity'])

#### Now checking the final 2019 dataset

In [47]:
df_2019.head()

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
0,Finland,2019,Western Europe,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2019,Western Europe,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,2019,Western Europe,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,2019,Western Europe,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,2019,Western Europe,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

#### Summary of 2019 dataset

In [48]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Year                          156 non-null    int64
 2   Region                        148 non-null    object
 3   Rank                          156 non-null    int64
 4   Score                         156 non-null    float64
 5   GDP Per Capita                156 non-null    float64
 6   Social Support                156 non-null    float64
 7   Health Life Expectancy        156 non-null    float64
 8   Freedom To Make Life Choices  156 non-null    float64
 9   Corruption Perceptions        156 non-null    float64
 10  Generosity                    156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

***We can see that now there are 8 null values in the region column of 2019 dataset,that means these 5 countries are not in 2016 year dataset that we used to create the dictionary
<br>
<br>
We will deal with these null values after creating the final merged dataset(year 2015-2020) where we look out these null or missing values in the final dataset from there we can easily look out these null or missing values in all of the datasets and then fill the corresponding region***

In [49]:
df_2019[df_2019.isnull().any(axis=1)]

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
38,Trinidad & Tobago,2019,NaN,39,6.192,1.231,1.477,0.713,0.489,0.016,0.185
63,Northern Cyprus,2019,NaN,64,5.718,1.263,1.252,1.042,0.417,0.162,0.191
83,North Macedonia,2019,NaN,84,5.274,0.983,1.294,0.838,0.345,0.034,0.185
119,Gambia,2019,NaN,120,4.516,0.308,0.939,0.428,0.382,0.167,0.269
122,Mozambique,2019,NaN,123,4.466,0.204,0.986,0.390,0.494,0.138,0.197
134,Swaziland,2019,NaN,135,4.212,0.811,1.149,0.000,0.313,0.135,0.074
143,Lesotho,2019,NaN,144,3.802,0.489,1.169,0.168,0.359,0.093,0.107
154,Central African Republic,2019,NaN,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235

## <u> World Happiness Index Dataset Of Year 2020 : - </u>

In [50]:
df_2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [51]:
df_2020.shape

(153, 20)

#### Inserting a new column for year

In [52]:
df_2020.insert(1, 'Year', 2020)

#### Dropping all the unnecessary columns of 2020 dataset

In [53]:
df_2020.drop(['Standard error of ladder score','upperwhisker','lowerwhisker','Logged GDP per capita','Social support',
             'Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption',
             'Ladder score in Dystopia','Dystopia + residual'],axis=1,inplace=True)

#### Renaming the columns

In [54]:
df_2020 = df_2020.rename(columns = {'Country name': 'Country','Regional indicator' : 'Region', 'Ladder score' : 'Score',
                                    'Explained by: Log GDP per capita' : 'GDP Per Capita',
                                    'Explained by: Social support' : 'Social Support',
                                    'Explained by: Healthy life expectancy' : 'Health Life Expectancy',
                                    'Explained by: Freedom to make life choices' :'Freedom To Make Life Choices',
                                    'Explained by: Generosity' : 'Generosity',
                                    'Explained by: Perceptions of corruption' : 'Corruption Perceptions'})

#### Inserting a new 'Rank' column in the 2020 dataset as per the ladder score, as there is no rank column in 2020 dataset. and as the ladder score is already in the desceding order so we don't need to sort it. we can create the column by incrementing each value by 1 till the last row

In [55]:
df_2020['Rank'] = range(1, 1 + len(df_2020))

In [56]:
df_2020.head()

,Country,Year,Region,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Generosity,Corruption Perceptions,Rank
0,Finland,2020,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,1
1,Denmark,2020,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2
2,Switzerland,2020,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,3
3,Iceland,2020,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,4
4,Norway,2020,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,5

***Region column is already in the 2020 datset so we don't need to create any region column in the 2020 dataset***

#### Now Re-indexing the columns position as per the previous datasets

In [57]:
df_2020 = df_2020.reindex(columns=['Country','Year','Region','Rank','Score','GDP Per Capita','Social Support',
                                   'Health Life Expectancy','Freedom To Make Life Choices','Corruption Perceptions',
                                   'Generosity'])

#### Now checking the final 2020 dataset

In [58]:
df_2020.head()

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
0,Finland,2020,Western Europe,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670
1,Denmark,2020,Western Europe,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793
2,Switzerland,2020,Western Europe,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056
3,Iceland,2020,Western Europe,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330
4,Norway,2020,Western Europe,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985

#### Summary of 2020 dataset

In [59]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       153 non-null    object
 1   Year                          153 non-null    int64
 2   Region                        153 non-null    object
 3   Rank                          153 non-null    int32
 4   Score                         153 non-null    float64
 5   GDP Per Capita                153 non-null    float64
 6   Social Support                153 non-null    float64
 7   Health Life Expectancy        153 non-null    float64
 8   Freedom To Make Life Choices  153 non-null    float64
 9   Corruption Perceptions        153 non-null    float64
 10  Generosity                    153 non-null    float64
dtypes: float64(7), int32(1), int64(1), object(2)
memory usage: 12.7+ KB

***No null or missing values in 2020 dataset***

# <u> Final Merged Dataset (Year 2015-2020) : - </u>

#### Concatenating all the datasets

In [60]:
df_final = pd.concat([df_2015,df_2016,df_2017,df_2018,df_2019,df_2020])

In [61]:
df_final.shape

(935, 11)

In [62]:
df_final.head()

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
0,Switzerland,2015,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [63]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 935 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       935 non-null    object
 1   Year                          935 non-null    int64
 2   Region                        917 non-null    object
 3   Rank                          935 non-null    int64
 4   Score                         935 non-null    float64
 5   GDP Per Capita                935 non-null    float64
 6   Social Support                935 non-null    float64
 7   Health Life Expectancy        935 non-null    float64
 8   Freedom To Make Life Choices  935 non-null    float64
 9   Corruption Perceptions        934 non-null    float64
 10  Generosity                    935 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 87.7+ KB

In [64]:
df_final['Country'].sort_values().unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Haiti', 'Honduras', 'Hong Kong',
       'Hong Kong S.A.R. of China', 'Hong Kong S.A.R., China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'North Macedonia',
       'Northern Cyprus', 'Norway', 'Oman', 'Pakistan',
       'Palestinian Territories', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland Region', 'Somaliland region', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Taiwan Province of China', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad & Tobago', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

#### We Can Notice From Here That 'Hong Kong S.A.R. of China' Repeated Twice With Different Spellings. So, Let's Fix That

In [65]:
df_final['Country'] = df_final['Country'].replace('Hong Kong S.A.R., China', 'Hong Kong S.A.R. of China')

In [66]:
df_final[df_final.Country == 'Hong Kong S.A.R. of China']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
70,Hong Kong S.A.R. of China,2017,NaN,71,5.4720,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466
77,Hong Kong S.A.R. of China,2020,East Asia,78,5.5104,1.376746,1.243584,1.136631,0.459357,0.332485,0.288281

#### Now, Lets Deal with all the null values in the 'Region' & 'Corruption Perceptions' column

In [67]:
df_final[df_final.isnull().any(axis=1)]

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
32,Taiwan Province of China,2017,NaN,33,6.422,1.433627,1.384565,0.793984,0.361467,0.063829,0.258360
70,Hong Kong S.A.R. of China,2017,NaN,71,5.472,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466
112,Mozambique,2017,NaN,113,4.550,0.234306,0.870701,0.106654,0.480791,0.179436,0.322228
138,Lesotho,2017,NaN,139,3.808,0.521021,1.190095,0.000000,0.390661,0.119095,0.157497
154,Central African Republic,2017,NaN,155,2.693,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876
19,United Arab Emirates,2018,Middle East and Northern Africa,20,6.774,2.096000,0.776000,0.670000,0.284000,NaN,0.186000
37,Trinidad & Tobago,2018,NaN,38,6.192,1.223000,1.492000,0.564000,0.575000,0.019000,0.171000
57,Northern Cyprus,2018,NaN,58,5.835,1.229000,1.211000,0.909000,0.495000,0.154000,0.179000
122,Mozambique,2018,NaN,123,4.417,0.198000,0.902000,0.173000,0.531000,0.158000,0.206000
140,Lesotho,2018,NaN,141,3.808,0.472000,1.215000,0.079000,0.423000,0.112000,0.116000
154,Central African Republic,2018,NaN,155,3.083,0.024000,0.000000,0.010000,0.305000,0.038000,0.218000
38,Trinidad & Tobago,2019,NaN,39,6.192,1.231000,1.477000,0.713000,0.489000,0.016000,0.185000
63,Northern Cyprus,2019,NaN,64,5.718,1.263000,1.252000,1.042000,0.417000,0.162000,0.191000
83,North Macedonia,2019,NaN,84,5.274,0.983000,1.294000,0.838000,0.345000,0.034000,0.185000
119,Gambia,2019,NaN,120,4.516,0.308000,0.939000,0.428000,0.382000,0.167000,0.269000
122,Mozambique,2019,NaN,123,4.466,0.204000,0.986000,0.390000,0.494000,0.138000,0.197000
134,Swaziland,2019,NaN,135,4.212,0.811000,1.149000,0.000000,0.313000,0.135000,0.074000
143,Lesotho,2019,NaN,144,3.802,0.489000,1.169000,0.168000,0.359000,0.093000,0.107000
154,Central African Republic,2019,NaN,155,3.083,0.026000,0.000000,0.105000,0.225000,0.035000,0.235000

## Let's First Deal With The Null Values Of 'Region' Column :-

***For this first we look out for the null value in the final dataset and then fill the corresponding name of region from there and if there is no corresponding value of country-region is present in the final merged dataset then we'll look the region names by web search***

#### ---->Country - Taiwan Province of China:-

In [68]:
df_final[df_final.Country == 'Taiwan Province of China']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
32,Taiwan Province of China,2017,NaN,33,6.4220,1.433627,1.384565,0.793984,0.361467,0.063829,0.258360
24,Taiwan Province of China,2020,East Asia,25,6.4554,1.327471,1.357761,0.878438,0.449404,0.131516,0.150599

***We can see here that region name of 'Taiwan Province of China' country is missing in the year - 2017 dataset but present in the 2020 dataset. So we can fill the region name as per the 2020 dataset***

In [69]:
df_final.loc[df_final.Country == 'Taiwan Province of China', 'Region' ] = 'East Asia'

In [70]:
#checking again
df_final[df_final.Country == 'Taiwan Province of China']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
32,Taiwan Province of China,2017,East Asia,33,6.4220,1.433627,1.384565,0.793984,0.361467,0.063829,0.258360
24,Taiwan Province of China,2020,East Asia,25,6.4554,1.327471,1.357761,0.878438,0.449404,0.131516,0.150599

#### ---->Country - Hong Kong S.A.R., China

In [71]:
df_final[df_final.Country == 'Hong Kong S.A.R. of China']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
70,Hong Kong S.A.R. of China,2017,NaN,71,5.4720,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466
77,Hong Kong S.A.R. of China,2020,East Asia,78,5.5104,1.376746,1.243584,1.136631,0.459357,0.332485,0.288281

***We can see here that region name of 'Hong Kong S.A.R. of China' country is missing in the year - 2017 dataset but present in the 2020 dataset. So we can fill the region name as per the 2020 dataset***

In [72]:
df_final.loc[df_final.Country == 'Hong Kong S.A.R., China', 'Region' ]="East Asia"

#### ---->Country - Mozambique

In [73]:
df_final[df_final.Country == 'Mozambique']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
93,Mozambique,2015,Sub-Saharan Africa,94,4.9710,0.083080,1.026260,0.091310,0.340370,0.156030,0.222690
112,Mozambique,2017,NaN,113,4.5500,0.234306,0.870701,0.106654,0.480791,0.179436,0.322228
122,Mozambique,2018,NaN,123,4.4170,0.198000,0.902000,0.173000,0.531000,0.158000,0.206000
122,Mozambique,2019,NaN,123,4.4660,0.204000,0.986000,0.390000,0.494000,0.138000,0.197000
119,Mozambique,2020,Sub-Saharan Africa,120,4.6236,0.178741,0.955203,0.324224,0.560775,0.163064,0.220422

***We can see here that region name of 'Mozambique' country is missing in the year - 2017,2018 & 2019 datasets but present in the 2015 & 2020 datasets. So we can fill the region name as per these datasets***

In [74]:
df_final.loc[df_final.Country == 'Mozambique', 'Region' ] = 'Sub-Saharan Africa'

#### ---->Country - Lesotho

In [75]:
df_final[df_final.Country == 'Lesotho']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
96,Lesotho,2015,Sub-Saharan Africa,97,4.8980,0.375450,1.041030,0.076120,0.317670,0.125040,0.163880
138,Lesotho,2017,NaN,139,3.8080,0.521021,1.190095,0.000000,0.390661,0.119095,0.157497
140,Lesotho,2018,NaN,141,3.8080,0.472000,1.215000,0.079000,0.423000,0.112000,0.116000
143,Lesotho,2019,NaN,144,3.8020,0.489000,1.169000,0.168000,0.359000,0.093000,0.107000
142,Lesotho,2020,Sub-Saharan Africa,143,3.6528,0.454939,1.088940,0.100935,0.409368,0.050484,0.102628

***We can see here that region name of 'Lesotho' country is missing in the year - 2017,2018 & 2019 datasets but present in the 2015 & 2020 datasets. So we can fill the region name as per these datasets***

In [76]:
df_final.loc[df_final.Country == 'Lesotho', 'Region' ] = 'Sub-Saharan Africa'

#### ---->Country - Central African Republic

In [77]:
df_final[df_final.Country == 'Central African Republic']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
147,Central African Republic,2015,Sub-Saharan Africa,148,3.6780,0.078500,0.0,0.066990,0.488790,0.082890,0.238350
154,Central African Republic,2017,NaN,155,2.6930,0.000000,0.0,0.018773,0.270842,0.056565,0.280876
154,Central African Republic,2018,NaN,155,3.0830,0.024000,0.0,0.010000,0.305000,0.038000,0.218000
154,Central African Republic,2019,NaN,155,3.0830,0.026000,0.0,0.105000,0.225000,0.035000,0.235000
148,Central African Republic,2020,Sub-Saharan Africa,149,3.4759,0.041072,0.0,0.000000,0.292814,0.028265,0.253513

***We can see here that region name of 'Central African Republic' country is missing in the year - 2017,2018 & 2019 datasets but present in the 2015 & 2020 datasets. So we can fill the region name as per these datasets***

In [78]:
df_final.loc[df_final.Country == 'Central African Republic', 'Region' ] = 'Sub-Saharan Africa'

#### ---->Country - Trinidad & Tobago

In [79]:
df_final[df_final.Country == 'Trinidad & Tobago']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
37,Trinidad & Tobago,2018,NaN,38,6.192,1.223,1.492,0.564,0.575,0.019,0.171
38,Trinidad & Tobago,2019,NaN,39,6.192,1.231,1.477,0.713,0.489,0.016,0.185

***We can see here that region name of 'Trinidad & Tobago' country is not present in any year from 2015-2020. So we'll do web search to find the region of this country
<br>
<br>
By web search we can find that region of 'Trinidad & Tobago' is 'Southern Caribbean'***

In [80]:
df_final.loc[df_final.Country == 'Trinidad & Tobago', 'Region' ] = 'Southern Caribbean'

#### ---->Country - Northern Cyprus

In [81]:
df_final[df_final.Country == 'Northern Cyprus']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
57,Northern Cyprus,2018,NaN,58,5.835,1.229,1.211,0.909,0.495,0.154,0.179
63,Northern Cyprus,2019,NaN,64,5.718,1.263,1.252,1.042,0.417,0.162,0.191

***We can see here that region name of 'Northern Cyprus' country is not present in any year from 2015-2020. So we'll do web search to find the region of this country
<br>
<br>
By web search we can find that region of 'Northern Cyprus' is 'Eastern Mediterranean'***

In [82]:
df_final.loc[df_final.Country == 'Northern Cyprus', 'Region' ] = 'Eastern Mediterranean'

#### ---->Country - North Macedonia

In [83]:
df_final[df_final.Country == 'North Macedonia']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
83,North Macedonia,2019,NaN,84,5.274,0.983,1.294,0.838,0.345,0.034,0.185

***We can see here that region name of 'North Macedonia' country is not present in any year from 2015-2020. So we'll do web search to find the region of this country
<br>
<br>
By web search we can find that region of 'North Macedonia' is 'Southeastern Europe'***

In [84]:
df_final.loc[df_final.Country == 'North Macedonia', 'Region' ] = 'Southeastern Europe'

#### ---->Country - Gambia

In [85]:
df_final[df_final.Country == 'Gambia']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
119,Gambia,2019,NaN,120,4.5160,0.308000,0.939000,0.428000,0.38200,0.167000,0.26900
112,Gambia,2020,Sub-Saharan Africa,113,4.7506,0.256991,0.882679,0.353248,0.40342,0.158094,0.42599

***We can see here that region name of 'Gambia' country is missing in the year - 2019 dataset but present in the 2020 dataset. So we can fill the region name as per these dataset***

In [86]:
df_final.loc[df_final.Country == 'Gambia', 'Region' ] = 'Sub-Saharan Africa'

#### ---->Country - Swaziland

In [87]:
df_final[df_final.Country == 'Swaziland']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
100,Swaziland,2015,Sub-Saharan Africa,101,4.8670,0.71206,1.072840,0.075660,0.306580,0.030600,0.182590
134,Swaziland,2019,NaN,135,4.2120,0.81100,1.149000,0.000000,0.313000,0.135000,0.074000
131,Swaziland,2020,Sub-Saharan Africa,132,4.3081,0.82754,1.064835,0.215586,0.299936,0.146766,0.067265

***We can see here that region name of 'Swaziland' country is missing in the year - 2019 dataset but present in the 2015 & 2020 datasets. So we can fill the region name as per these datasets***

In [88]:
df_final.loc[df_final.Country == 'Swaziland', 'Region' ] = 'Sub-Saharan Africa'

### Now After Filing The Null Values Of Region Column Let's Check All The Null Values:-

In [89]:
df_final[df_final.isnull().any(axis=1)]

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
70,Hong Kong S.A.R. of China,2017,NaN,71,5.472,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466
19,United Arab Emirates,2018,Middle East and Northern Africa,20,6.774,2.096000,0.776000,0.670000,0.284000,NaN,0.186000

***We can see now there is no null values in the region column.
<br>
<br>
Only 1 null value is left which is in the 'Corruption Perceptions' coloumn of the year-2018 dataset corresponding to 'United Arab Emirates' country. We can fill this null value by the mean of all the values corresponding to 'United Arab Emirates' country in all the 6 dataset from year(2015-2020)***

In [90]:
df_final[df_final.Country == 'United Arab Emirates']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
19,United Arab Emirates,2015,Middle East and Northern Africa,20,6.9010,1.427270,1.125750,0.809250,0.641570,0.385830,0.264280
27,United Arab Emirates,2016,Middle East and Northern Africa,28,6.5730,1.573520,0.871140,0.729930,0.562150,0.355610,0.265910
20,United Arab Emirates,2017,Middle East and Northern Africa,21,6.6480,1.626343,1.266410,0.726798,0.608345,0.324490,0.360942
19,United Arab Emirates,2018,Middle East and Northern Africa,20,6.7740,2.096000,0.776000,0.670000,0.284000,NaN,0.186000
20,United Arab Emirates,2019,Middle East and Northern Africa,21,6.8250,1.503000,1.310000,0.825000,0.598000,0.182000,0.262000
20,United Arab Emirates,2020,Middle East and North Africa,21,6.7908,1.431086,1.251171,0.787814,0.652936,0.220214,0.280656

***Let's find out the mean of 'Corruption Perceptions' corresponding to 'United Arab Emirates' country***

In [91]:
df_final.loc[df_final.Country == 'United Arab Emirates', 'Corruption Perceptions' ].mean()

0.29362861634070736

***Now let's fill the null value of the'Corruption Perceptions' column corresponding to 'United Arab Emirates' country by the calculated mean (0.29362861634070736)***

In [92]:
df_final.loc[df_final.Country == 'United Arab Emirates', 'Corruption Perceptions' ] = \
              np.where(df_final.loc[df_final.Country == 'United Arab Emirates', 'Corruption Perceptions' ]\
             .isnull(),0.29362861634070736 ,df_final.loc[df_final.Country == 'United Arab Emirates', 'Corruption Perceptions' ])

In [93]:
#checking 
df_final[df_final.Country == 'United Arab Emirates']

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
19,United Arab Emirates,2015,Middle East and Northern Africa,20,6.9010,1.427270,1.125750,0.809250,0.641570,0.385830,0.264280
27,United Arab Emirates,2016,Middle East and Northern Africa,28,6.5730,1.573520,0.871140,0.729930,0.562150,0.355610,0.265910
20,United Arab Emirates,2017,Middle East and Northern Africa,21,6.6480,1.626343,1.266410,0.726798,0.608345,0.324490,0.360942
19,United Arab Emirates,2018,Middle East and Northern Africa,20,6.7740,2.096000,0.776000,0.670000,0.284000,0.293629,0.186000
20,United Arab Emirates,2019,Middle East and Northern Africa,21,6.8250,1.503000,1.310000,0.825000,0.598000,0.182000,0.262000
20,United Arab Emirates,2020,Middle East and North Africa,21,6.7908,1.431086,1.251171,0.787814,0.652936,0.220214,0.280656

In [94]:
df_final[df_final.isnull().any(axis=1)]

,Country,Year,Region,Rank,Score,GDP Per Capita,Social Support,Health Life Expectancy,Freedom To Make Life Choices,Corruption Perceptions,Generosity
70,Hong Kong S.A.R. of China,2017,NaN,71,5.472,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466

***Now we can see there is no null value in any of the column***

**Now We Can Export The Final Data As A CSV File That We'll Use Later On For Visualizing This Data Using Plotly Dash In A Separate Notebook**

In [95]:
df_final.to_csv('Happiness_Data.csv',index=False)